<div class="row dashboard padding-2">
    <div class="col-sm-9 content well">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-primary">Dashboard</h2>
            </div>
            <div class="col-lg-3">
                <p class="input-group margin-top-2">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$ctrl.from"
                           is-open="from.opened" datepicker-options="dateOptions" ng-required="true"
                           close-text="Close"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="from.opened = !from.opened"><i
                    class="fa fa-calendar-o text-primary" aria-hidden="true"></i></i></button>
          </span>
                </p>
            </div>
            <div class="col-lg-3">
                <p class="input-group margin-top-2">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$ctrl.to"
                           is-open="to.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="to.opened = !to.opened"><i
                    class="fa fa-calendar-o text-primary" aria-hidden="true"></i></i></button>
          </span>
                </p>
            </div>
        </div>
        <hr/>
        <uib-accordion close-others="true">
            <tr>
                <td><strong>#Attivazioni {{$ctrl.user.name + ' - ' + $ctrl.user.surname}}:
                    {{totHighLevel($ctrl.activations)}}</strong></td>
            </tr>
            <div ng-repeat="(key, value) in $ctrl.activations.wrapper" uib-accordion-group class="panel-primary"
                 heading="{{value.user.id + ' - ' + value.user.name}}" is-open="panel[value.user.id]"
                 is-disabled="false">
                <tr>
                    <td><strong>#Attivazioni {{value.user.name + ' - ' + value.user.surname}}:
                        {{totHighLevel(value)}}</strong></td>
                </tr>
                <plafont-widget plafont="value.plafont"></plafont-widget>
                <h4 class="margin-top-2 text-primary">Dettagli</h4>
                <div ng-repeat="(subKey, subValue) in value.wrapper">
                    <uib-accordion close-others="false">
                        <div uib-accordion-group class="panel-default"
                             heading="{{subValue.user.name + ' - ' + subValue.user.surname}}"
                             is-open="panel[subValue.user.id]" is-disabled="false">
                            <tr>
                                <td><strong>#Attivazioni {{subValue.user.name + ' - ' + subValue.user.surname}}:
                                    {{subValue.activations.length}}</strong></td>
                            </tr>
                            <plafont-widget plafont="subValue.plafont"></plafont-widget>
                            <hr/>
                            <h4 class="margin-top-2 text-primary">Dettagli</h4>
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descrizione</th>
                                    <th>Plafont</th>
                                    <th>Data</th>
                                    <th>Utente Inserente</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="subSubValue in subValue.activations">
                                    <td>{{subSubValue.id}}</td>
                                    <td>{{subSubValue.desActivation}}</td>
                                    <td>{{subSubValue.amntPlafont | currency:"€"}}</td>
                                    <td>{{subSubValue.dateString}}</td>
                                    <td>{{subSubValue.userInsertDetail.name + ' - ' + subSubValue.userInsertDetail.surname}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr/>
                            <div class="full-width">
                                <a ng-click="$ctrl.addPlafont(subValue.user.id);" ng-if="$ctrl.user.writePermission === true"
                                   class="btn btn-raised btn-primary float-right"><i class="material-icons fa fa-plus"
                                                                                     aria-hidden="true"></i>&nbsp;Aggiungi
                                    Plafont</a>
                                <a ng-click="$ctrl.addActivation(subValue.user.id);" ng-if="$ctrl.user.writePermission === true"
                                   class="btn btn-raised btn-primary float-right"><i class="material-icons fa fa-plus"
                                                                                     aria-hidden="true"></i>&nbsp;Aggiungi
                                    Attivazione</a>
                                <a ng-click="$ctrl.showPlafontList(subValue.user.id);"
                                   class="btn btn-raised btn-primary float-right"><i class="material-icons fa fa-plus"
                                                                                     aria-hidden="true"></i>&nbsp;Lista Versamenti Plafont</a>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </uib-accordion>

    </div>
    <div class="col-sm-3 sidebar sticky">
        <user></user>
        <links></links>
    </div>

</div>
